<h1>Spline Chart</h1>

<div id="container">

</div>

<script type="text/javascript">
  $(document).ready(function() {

    var options = {
        chart: {
            renderTo: 'container',
            type: 'spline'
        },
        series: [{}]
    };

    $.getJSON('/charts/get_data', function(data) {
        options.series[0].data = data;
        var chart = new Highcharts.Chart(options);
    });

  });
</script>
